<!DOCTYPE HTML>
<html>
<head>
	<title>@ViewBag.TitleError</title>
	<META HTTP-EQUIV="refresh" CONTENT="3;URL=http://localhost:63799/Home/Index">
</head>
<body>
	<br/><br/><h4>You will be redirected in 3 seconds.</h4><br/>
<h2 id="errorResult">@ViewBag.Error</h2>



</body>
</html>

