<html>
<head>
	<META HTTP-EQUIV="refresh" CONTENT="0;URL=http://localhost:63799/Earthquake/SpeedUpSearch">
</head>
<body>
	<br/><h4>You will redirect in 5-10 seconds with the following info.</h4> <br/>
	<div id="yourLocation">
		<br /><br />
		<p>Your location: @ViewBag.Address</p>
		<p>Latitude: @ViewBag.UserLat</p>
		<p>Longitude: @ViewBag.UserLong</p>
	</div>
</body>
</html>