<html>
<head>
	<META HTTP-EQUIV="refresh" CONTENT="0;URL=http://localhost:63799/Home/Earthquakes">
	<title>Redirecting to Earthquakes</title>
</head>
<body>
	<br /><h4>Loading up some earthquakes since 1970!</h4> <br />
</body>
</html>
