<html>
<head>
	<META HTTP-EQUIV="refresh" CONTENT="3;URL=http://localhost:63799/Tornado/SearchTornados">
</head>
<body>
	<br /><h4>You will redirect in 3-5 seconds with the following info.</h4> <br />
	<div id="yourLocation">
		<br /><br />
		<p>Your location: @ViewBag.Address</p>
		<p>Latitude: @ViewBag.UserLat</p>
		<p>Longitude: @ViewBag.UserLong</p>
	</div>
</body>
</html>