body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#QuakeData {
	text-align: center;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:navy;
	border: solid red 10px;
	padding: 0px 300px 0px 300px;
	background-color:darkorange;
}
h3 {
	text-align:center;
}
.SearchBox {
	text-align:center;
	align-content:center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding-top:.2in;
	
}

#yourLocation {
	text-align:center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 17px;
	color:forestgreen;
}

#HomeButton {
	position:relative;
	left: 500px;
}
#QuakesButton {
	position: relative;
	left: 500px;
}
#NadosButton {
	position: relative;
	left: 175px;
}
.navbar-inverse {
	background-color:aquamarine !important;
}
#Tornados {
	text-align: center;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: navy;
	border: solid grey 10px;
	padding: 0px 300px 0px 300px;
	background-color:darkgrey;
}
#thefoot {
	text-align:center;
	font-size: 20px;
}
h4 {
	text-align:center;
}

#percentEarthquake {
	text-align:center;
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#chanceMessage {
	text-align:center;
	font-size: 20px;
}
#dangerBox {
	
	width: 40%;
	align-content: center;
	text-align: center;
	position: relative;
	left: 350px;
}
#ourTitle {
	text-align:center;
	padding-top:1in;
}

#leftBox {
	border: 1px black solid;
	width: 40%;
	position: relative;
	right: 50px;
	text-align:center;
}

#earthquakesPic {
	position:relative;
	left: 800px;
	bottom: 200px;
}

#errorResult {
	text-align:center;
	padding-bottom: 2in;
}
#AllQuakes {
	display:none;
}
#LoadMoreButton {
	position:relative;
	left:480px;
}
#searchAgain {
	position:relative;
	font-size: 20px;
	left: 500px;
}